/* styles/Header.module.css */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  z-index: 10;
  background-color: #fff;
  padding: 0 5rem;
  
}


.navbar {
  display: flex;
  justify-content: center; /* align the nav items to the right */
  gap: 1.5rem;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -5%;
}

.buttonContainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 1rem;

}


.closeButton {
  align-self: flex-start;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: auto;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #f0f0f0; /* Light grey background */
  position: relative;
}

.closeButton::before,
.closeButton::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: black;
}

.closeButton::before {
  transform: rotate(45deg);
}

.closeButton::after {
  transform: rotate(-45deg);
}

.sidebarNav {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}


.line {
  height: 3px;
  width: 25px;
  background-color: black;
  transition: 0.3s;
  margin: 4px 0;

}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  grid-area: btn;
}





  

.envelope {
  position: fixed;
  right: 2rem;
  width: 250px;
  height: 250px;
  z-index: 15;
}

.body {
  top: -20%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 11;
}

.flapLeft {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background: linear-gradient(to right, #f2e19d, #ffffff);
  clip-path: polygon(0 0, 0 100%, 100% 50%);
  z-index: 12;
  border: 2px solid #cccccc;
}

.flapRight {
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  background: linear-gradient(to left, #f2e19d, #ffffff);
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  z-index: 12;
  border: 2px solid #cccccc;
}

.flapBottom {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: linear-gradient(to top, #f2e19d, #ffffff);
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
  z-index: 12;
  border: 2px solid #cccccc;
}

.flapTop {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  transform-origin: top;
  transform: rotateX(180deg);
  background: linear-gradient(to bottom, #f2e19d, #ffffff);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  z-index: 3;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #cccccc;
}


.envelopeButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Sidebar animation */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}


/* Hide the navbar for smaller screens */
@media (max-width: 768px) {

  .header {
    height: 4rem;
    padding: 0 2rem;
  }

  .navbar {
    display: none;
  }

  .buttonContainer {
    display: none;
  }

  .hamburgerMenu {
    display: block;
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
  }

  .logoContainer {
    justify-content: flex-start;
  }

  .envelope {
    top: 30%;
  }


}

