/* styles/Header.module.css */
.header {
    display: grid;
    grid-template-columns: auto 1fr; /* logo in the first column, nav in the second */
    align-items: center; /* center the items vertically */
    background-color: var(--background);
    padding: 1rem 2rem; /* adding padding around the header */
    gap: 1rem; /* adding space between the logo and the nav */
  }

.logoContainer {
  display: flex;
  align-items: center;
  }
  





  

