.applySection {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.leftArea {
    grid-area: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-height: 200px;
}

.rightArea {
    grid-area: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.applyImage {
    position: relative;
    width: 100%;
    height: 300px;
}

.rightArea h2 {
    font-size: 1.5rem;
    color: var(--main-color);
}

.description {
    padding-bottom: 1rem;
}




@media (max-width: 768px) {
    .applySection {
        grid-template-areas: "left" "right";
        grid-template-columns: 1fr;
        gap: 0;
        padding-top: 10rem;
    }

    .leftArea {
        height: 100%;
        padding-bottom: 2rem;
    }

    .rightArea {
        padding-top: 2rem;
    }
    
    .applyImage {
        position: relative;
        display: block;
        width: 100%;
        height: 300px;
        margin: 0 auto ;
    }
    
}





